<%= form_for(@baby_animal) do |f| %>
  <% if @baby_animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baby_animal.errors.count, "error") %> prohibited this baby_animal from being saved:</h2>

      <ul>
      <% @baby_animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "text", :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url, :class => "text", :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "text", :class => "form-control" %>
  </div>
  <p></p>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
